.menu{
    position:relative;
    top:-530px;
}

.imag{
    width:30px;
    border-radius:50px;
}

.btnDetails{
    background-color:rgb(235, 187, 32);
    color:black;
    padding:5px; 
    font-size:14px;
    border:0px solid transparent;
    border-radius: 7px;
}

.btnDetails:hover{
    background-color:rgb(214, 175, 48); 
}

.btnSupp:hover{
    background-color:rgb(165, 162, 162);
}

#demandes:hover{
    color:rgb(160, 0, 0);
    font-size:18px; 
}

.btns{
    padding:2px;
}

.btnSupp{
    background-color:grey;
    color:white;
    padding:5px; 
    font-size:14px;
    border:0px solid transparent;
    border-radius: 7px;
}

#supprimer{
    color:rgb(233, 6, 6); 
} 

.titrepage{ 
    background-color:rgb(121, 126, 124);
    padding:15px;
    position:relative; 
    top:-1120px;
    right:-374px;
    width:900px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.wrap{
    width: 550px;
    position: relative;
    top: -1085px;
    left: 820px;
    transform: translate(-50%, -50%);
}

.btnajout{
    position:relative;
    top:-1145px;
    right:-1082px;
    background-color: cadetblue;
    color:white;
    border-radius: 7px;
    padding: 10px;
    border:0px solid transparent;
}


.card-body{
    position: relative;
    top:-1130px;
    right:-200px;
    width:1000px; 
    font-size:14px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #c3cecf;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .form{
    background-color:rgb(236, 233, 233); 
  }

  .modal-header{
    color:black;
  }
  
  .searchButton {
    width: 50px;
    height: 36px;
    border: 1px solid #9eacad;
    background: #a01e07;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.purple-border {
    border: 1px solid #9e9e9e;
}
.input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
    border: 1px solid #ba68c8;
    box-shadow: none;
}
.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}
.danger-text {
    color: #ff3547; 
}  
.success-text {
    color: #00C851; 
}
.table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
    border: 1px solid #ff3547!important;
}        
.table.table-bordered th {
    text-align: center;
}
tr{
    text-align: center;
}
