<!DOCTYPE html>
<html lang="en">
<body>
  <main id="main">
    <img alt="cni" id="cni" src="assets/cni.jpg" />
    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Présentation du CNI</h2>
            <p>
                Institué le 30 Décembre 1975, le Centre National de l’Informatique est un établissement public à 
                caractère non administratif doté de la personnalité civile et de l’autonomie financière.  
                Le CNI est un organisme placé sous la tutelle du Ministre des Technologies de la Communication, 
                et opérant dans les domaines du secteur de l’informatique et des technologies de la communication
                et certifié ISO 9001version 2015.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fa-solid fa-phone"></i></div>
              <h4 class="title"><a href="">Numéro de téléphone</a></h4>
              <p class="description">+ 216 71 783 055</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fa-solid fa-house"></i></div>
              <h4 class="title"><a href="">Adresse</a></h4>
              <p class="description">17, rue Belhassen Ben Chaabane, 1005 El Omrane, Tunis Tunisie.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fa-solid fa-envelope"></i></div>
              <h4 class="title"><a href="">Mail</a></h4>
              <p class="description">webcni@cni.tn</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Missions</h3>
          <p class="section-description">Principal appui aux structures publiques de l’administration dans la réalisation, le déploiement et l’exploitation des systèmes d’information, le CNI assure les activités suivantes : </p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part1">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Maîtrise d’ouvrage déléguée</a></h4>
              <p class="description">Maîtrise d’ouvrage déléguée et Pilotage de projet.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part1">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Développement</a></h4>
              <ul class="description">
                <li>
                    Développement et Maintenance des systèmes d’Information ;
                    Formation sur les SI développés par le CNI.
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part1">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Hébergement du Système </a></h4>
              <ul class="description">
                <li>
                    Hébergement des serveurs.
                    Hébergement des applications et des données avec ou sans exploitation.
                </li>
               </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part2">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Déploiement des Applications et assistance des utilisateurs</a></h4>
              <p class="description">
                Le CNI déploie les applications développées pour le compte de l’administration en vue de leur exploitation.
                 Le déploiement des postes peut se faire sur site (chez le client) ou dans les locaux du cni.
                Le cni met à la disposition des utilisateurs des assistants pour les accompagner et les initier à la bonne exploitation des ces applications
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part2">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Backup et continuité d’activité</a></h4>
              <p class="description">
                Assurer la continuité de fonctionnement des applications nationales en cas  de sinistre
                Assurer la continuité des services rendus aux utilisateurs
                Assister d’autres institutions pour la mise en place de leurs solutions de backup
                Héberger les plateformes de ses clients (services dédiés)
                Fournir les services de conseil pour l’élaboration de plans de continuité d’activité (PCA),
                Diffuser le savoir faire en matière de backup et PCA.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part2">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Etudes &Conseil</a></h4>
              <ul class="description">
                <li>
                    Système d’information(Audit de système d’information,
                    Etude d’opportunité, Etude préalable, Etude organisationnelle,
                    Elaboration de Schémas Directeurs Informatiques, de termes de référence, de cahiers des charges et de plans d’actions,
                    Assistance au dépouillement des offres)
                </li>
                <li>
                    Réseaux et Sécurité(Etude Réseaux et sécurité;
                    Assistance à la réception et à l’installation de réseaux;
                    Elaboration des Cahiers des charges réseaux et sécurité                    
                    Assistance au dépouillement;                 
                    Conseils et avis techniques)
                </li>
            </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" id="part2">
            <div class="box">
              <div class="icon"><a href=""><i class="fa-solid fa-check"></i></a></div>
              <h4 class="title"><a href="">Formation & certification</a></h4>
              <p class="description">
                Formation sur les applications nationales
                 Séminaires  d’expertise
                 Formation continue 
                 Formation certifiante
                 Stage et initiation à la vie professionnelle 
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>