.titrepage{ 
    background-color:rgb(121, 126, 124);
    padding:15px;
    position:relative; 
    top:-1120px;
    right:-374px;
    width:900px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.menu{
    position:relative;
    top:-530px;
}

.btnRetour{
    position: relative;
    width: 100px;
    right:-430px;
    top:20px;
    background-color: rgb(236, 206, 34);
    border: 0px solid transparent;
    padding: 5px;
    border-radius: 10px;
}

body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important;
    background-color: red;
}

.user-card-full {
    overflow: hidden;
    background-color: #f0f0f0;
}

.col-xl-6{
    position:relative;
    top:-1150px;
    right:-218px;
    width:900px;
}

.imgstg{
    width:180px;
    height:180px;
    border-radius:10px;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #dfddd2, #b3bac4);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 450;
}

#nom{
    font-size:30px;
}

.age{
    font-size:20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


