.form-control{
    background-color: rgba(223, 223, 223, 0.205);
}

.etoile{
    color:red;
}

.btn1{
    background-color: rgb(55, 55, 243);
    color:white;
    padding:8px;
    width:100px;
    border-radius: 8px;
    border:0px solid transparent;
    position: relative;
    left:110px;
}

.btn2{
    background-color: rgb(117, 117, 112);
    color:white;
    padding:8px;
    width:100px;
    border-radius: 8px;
    border:0px solid transparent;
    position: relative;
    left:140px;
}

#result{
    background-color: rgb(245, 58, 58);
    color:white;
}